main{
    .menu-tabs{
        .nav{
            button{                
                margin:10px 0;
                background: var(--marrón);
                color: #fff;
            }
        }

        .tab-content{
            .card{
                a{
                    background: var(--amarillo);
                }
            }
            
        }
    }
}