.contenedor{
        background: white;
        margin: 20px auto;
        border-radius: 5px;
        padding: 10px 20px;
        .titulo, img, .user, .pass{
                margin-bottom: 25px;
            }
        img{
                width: 100%;
        }
        .formulario{
            a{
                background: var(--amarillo);
                &:hover{
                    background: var(--celeste);
                    color: white;
                }
            }
        }
        
        p{
            margin-top: 40px;
            margin-bottom: 5px;
        }
    }
