@media screen and (max-width:991px){
    body{
        .contenedor-log{
            padding: 15px 0;
            margin: 10px auto;
            .left{
                width: 100%;
                padding: 0;
            }
            .right{
                display: none;
            }
        }
    }
}

@media screen and (max-width:1200px){
    body{
        .contenedor-log{
            .left{
                padding: 20px; 
            }
            .right{
                img{
                    padding: 20px 0;
                }
            }
        }
        footer{
            position: absolute;
        }
    }
}