nav{
	background: var(--azul);
	a{
		&:hover{
			text-decoration: underline 2px;
			font-weight: 600;
		}
	}
}
header{
	background: url(../IMÁGENES/fondo.jpeg) var(--naranja);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 450px;
	
	.textos{
		color: #fff;
		border: 2px solid rgba(255, 255, 255, .5);
		margin: 130px;
		border-radius: 3px;
		display: inline-block;
		text-align: center;
		padding: 20px 60px;
	
		h2{
			margin-bottom: 10px;
			font-size: 40px;
			line-height: 50px;
		}
		h3{
			font-size: 25px;
			line-height: 25px;
		}
	}
}