main{
    overflow: visible;

    .cont-perfil{
        text-align: center;
        .foto{
            margin-top: -50px;
            img{
                vertical-align: top;
                border-radius: 50%;
                border: 5px solid rgba(255, 255, 255, 0.2);
            }
        }
    }
}


/*MEDIA QUERIES*/
@media screen and (max-width:800px ){
    header nav{
        text-align: center;
    }

    .main .trabajos .contenedor .trabajo{
        width: 46%;
    }
}

@media screen and (max-width:500px ){
    header .contender-texto .texto h1{
        font-size: 35px;
    }

    header .contender-texto .texto h2{
        font-size: 18px;
    }

    footer .redes-sociales .contenedor {
        flex-wrap: wrap;
        padding: 20px 0;
    }
}