main{
    overflow: visible;

    .cont-perfil{
        text-align: center;
        .foto{
            margin-top: -50px;
            img{
                vertical-align: top;
                border-radius: 50%;
                border: 5px solid rgba(255, 255, 255, 0.2);
            }
        }
    }

    .card{
        border: 1px solid var(--amarillo);
        padding: 10px 10px;
        margin-bottom: 30px;
        .right{
            a{
                text-decoration: none;
                color: #4dc247;
            }
        }
        i{
            margin: 0 2px;
        }
        
    }
}


